@import url('https://fonts.googleapis.com/css?family=Graduate');
@import url('https://fonts.googleapis.com/css?family=Graduate|Pacifico');
body{
	text-align: center;
	color:#222;
	font-family: arial, sans-serif; 
	font-weight: 200;
	line-height: 1.5;
}
h1{
	text-align: center;
	color:#556573;
	font-family: 'Pacifico', cursive;
	font-style: oblique;
	font-size: x-large;
	line-height: 1em;
}
span {
	color:#7B241C;
	font-family: 'Graduate', cursive;
	font-style: normal;
	font-weight: 900;
	font-size: xx-large;
	display: block;
	margin: .4em 0 .2em;
}
hr{
	color: #cc0000;
	width:  1000px;
}
img {
	width:25%;
}
