h1{
	text-align: center;
	background: #fff;
	color:#556573;
	font-family: 'Pacifico', cursive;
	font-style: oblique;
    	font-size: large ;
    	line-height: .5em;
}

h2{
	text-align: center;
	background: #fff;
	color:#7B241C;
	font-family: 'Graduate', cursive;
	font-style: normal;
    	font-weight: 900;
    	font-size: xx-large;
    	line-height: .5em;
}

h3{
    	text-align: center;
	background: #fff;
	color:#556573;
	font-family: 'Pacifico', cursive;
	font-style: oblique; 
    	font-size: large;
    	line-height: .5em;
}

body{
	text-align: center;
	background: #fff;
	color:#556573;
	font-family: arial; 
	font-style: italic;
	font-weight: 200;
}

hr{
	color: #cc0000;
	width:  1000px;
}
