h1{
	text-align: center;
	background: #fff;
	color:#cc0000;
	font-family: Century; 	
}
p{
	text-align: center;
	background: #fff;
	color:#ffc300;
	font-family: arial; 
	font-style: italic;
	font-weight: 200;
	
}

hr{
	color: #cc0000;
	width:  1000px;
}
