title{
	text-align: center;
	background: #fff
	color:#ffc300;
	font-family: Arial;

body{
	text-align: center;
	background: #fff
	color:red;
	font-family: Arial; 
}

p{
	font-style: italic;
	font-weight: 200
}

hr{
	color: red;
	width:  1000px;
}
